body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.kalkulator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#layar {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tombol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.tombol-angka, .tombol-operator, .tombol-hapus, .tombol-samadengan {
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.tombol-angka:hover, .tombol-operator:hover, .tombol-hapus:hover, .tombol-samadengan:hover {
    background-color: #f0f0f0;
}

.tombol-hapus {
    background-color: #ff0000;
    color: #fff;
}

.tombol-samadengan {
    background-color: #00ff00;
    color: #fff;
}
