body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: linear-gradient(to bottom, #333, #555);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.drama {
    padding: 2em;
}

.drama ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.drama li {
    margin-bottom: 20px;
}

.drama img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.pemeran {
    padding: 2em;
}

.pemeran ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pemeran li {
    margin-bottom: 20px;
}

.pemeran img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.kategori {
    padding: 2em;
}

.kategori ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.kategori li {
    margin-bottom: 20px;
}

.kategori a {
    text-decoration: none;
    color: #337ab7;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
